<div class="col-md-12 mt-3">


    <h2>{{page_title}}</h2>
    
    <p *ngIf="!is_edit">
      Agrega un Nuevo Articulo al Entrada
    </p>
    <p *ngIf="is_edit && post">
        Modifica tu entrada {{post.title}}
      </p>
    <hr>
    
    
   <ng-container *ngIf="status== 'success'">
        <div class="alert alert-success" role="alert" > 
            La publicacion fue publicado con exito 
            </div>
    </ng-container>
    
        <div class="alert alert-danger" role="alert" *ngIf="status== 'error'"> 
       La publicacion no se Guardo
            </div> 
    
    
    
    <!-- Formulario de ajustes -->
    
    
<form #postNew="ngForm" class="col-md-5 ml-0 pl-0"   (ngSubmit)="onSubmit(postNew)" >

<div class="form-group">

    <label for="title">Titulo</label>
    <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="post.title" required> 
    <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
        Titulo no es valido
    </small>
</div>

<div class="form-group">

    <label for="content">Contenido</label>
    <textarea  type="text"  name="content" #content="ngModel" [(ngModel)]="post.content" required></textarea>
   
</div>

<div class="form-group">

    <label for="category_id">Categoria</label>
   <select name="category_id" #category_id="ngModel" [(ngModel)]="post.category_id" class="form-control">
<option *ngFor="let category_id of categories" value="{{category_id.id}}" >{{category_id.name}}</option>


   </select>
</div>



<div class="form-group">

    <label for="image">Subir Imagen</label>
    <div *ngIf="is_edit==true && post.image">
      <img src="{{url+'post/image/' + post.image}}" class="avatar_edit">
  </div>
<angular-file-uploader
[config]="afuConfig"
(ApiResponse)="imageUpload($event)">
</angular-file-uploader>
    
</div>

<input type="submit" value="Publicar" class="btn btn-success" [disabled]="!postNew.valid">


</form>
<br>


<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" *ngIf="is_edit==true && post">
    Eliminar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Realmente desea eliminar la Publicacion?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a (click)="deletePost(post.id)" class="btn btn-danger">SI, Eliminar</a>
        </div>
      </div>
    </div>
  </div>



    
<br>
    
    
    </div>
